@use './course-studio-page.component.scss' as *;
@use './course-studio-editor-page.component.scss' as *;

.question-editor-layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1rem;
  align-items: start;
}
